<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodcast.member.dao.LoginAuditDao">

    <insert id="insertLoginAuditLog" parameterType="com.moodcast.member.vo.LoginAuditLog">
        insert into login_audit_logs (
            member_id,
            email,
            provider,
            login_type,
            success,
            fail_reason,
            ip_address,
            user_agent
        ) values (
            #{memberId},
            #{email},
            #{provider},
            #{loginType},
            #{success},
            #{failReason},
            #{ipAddress},
            #{userAgent}
        )
    </insert>

</mapper>
